.nav-options {
    margin : 0.1rem 1rem;
}
#navbar-main {
    display: flex;
    border:  1px solid #e0e0e0;
    width: 1100px;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.2rem;
    justify-content: left;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: left;
    margin-right: 1rem;
}

.vertical-line {
    border-left: 2px solid black;
    height: 1.2rem;
    margin: 0.7rem 0.2rem;
}
